<a href="https://colab.research.google.com/github/birkenkrahe/notebooksf21/blob/main/Midterm_solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Properties of R (5 points)
List as many properties of R as you can think of.

**Tip:** remember the information obtained when opening R from the terminal. I could think of ten different properties. If you only identify 5, you get full points - any more will get you extra points.

**ANSWER**

    1. Free software (GNU license)
    2. Statistical programming language
    3. Functional programming language
    4. Object-oriented programming language
    5. Successor to S
    6. Collaborative project
    7. Interactive shell language
    8. Graphics oriented
    9. Easy to learn
    10. Large user community

# Data structures (5 points)
 Write the commands for each of the following steps:

1. Assign the number 5 to the object `x`

In [1]:
x <- 5

2. Create a character vector `y` with four words in it (in this order): `fall`, `break`, `is`, `coming`.

In [3]:
y <- c("fall", "break", "is", "coming")

3. Create a named list from `x` and `y` (in this order), and assign the list to the object `z`. Give `x` the name `"Jill"`, and `y` the name `"Jack"`.

In [4]:
z <- list("Jill"=x,"Jack"=y)

4. What is the length of `z$Jack`?

In [6]:
length(z$Jack) # length of the list element "Jack" - the character vector y

[1] 4

5. What is the length of `z`?

In [7]:
length(z) # length of the list

[1] 2

# Printing a subvector (4 points)

Let `x` be a vector `c(1,2,3,4,5,6)`. List the commands to print only the first **three** elements of `x`


**Tip:** I found ten different ways to do this using functions and the index operator. If you find four commands, you'll get full points - any more will get you extra points.

In [8]:
x <- c(1,2,3,4,5,6) # numeric vector of six elements

1. Using the `head()` function and the colon operator `:` to extract the first three indices. That the vector elements are identical to their indices is an accident! This would also work for a different vector, like `c(2,3,4,5,6,7)`.

In [9]:
head(1:3)

[1] 1 2 3

2. Using the colon operator and the index operator `[ ]` to extract the first three indices.

In [10]:
x[1:3]

[1] 1 2 3

3. Using the index operator and the `c()` concatenation function to extrac the first three indices.

In [11]:
x[c(1,2,3)]

[1] 1 2 3

4. Using the `subset()` function and logical operators to extract the first three indices. The evaluation of the second argument yields the index set 1,2,3 - the logical expression is true for 1,2,3.

In [12]:
subset(x, x<4) # using the operator <

[1] 1 2 3

In [13]:
subset(x, x==1|x==2|x==3) # using operators == and | (OR)

[1] 1 2 3

In [14]:
subset(x,x!=4&x!=5&x!=6) # using operators != and & (AND)

[1] 1 2 3

5. Indexing with the sequence vector generator function `seq()`. This function has more arguments, but we only need to specify start and end of the sequence. The default step width is 1.

In [16]:
x[seq(from=1,to=3)] # this is really the same as x[c(1,2,3)]

[1] 1 2 3

6. Indexing with the repetition vector generator function `rep()`. The default is a repetition of frequency 1.

In [18]:
x[rep(c(1,2,3))] # this is really the same as x[c(1,2,3)]

[1] 1 2 3

7. Instead of selecting the indices we want (1,2,3), we can also remove the indices that we do not need (4,5,6). We can use either the colon operator or the `c()` function for that. In fact, we could also use `seq()` or `rep()`.

In [20]:
x[(-4):(-6)] # using the deletion operator `-` to remove indices 4, 5,6

[1] 1 2 3

In [21]:
x[c(-4,-5,-6)] # removing indices 4,5,6

[1] 1 2 3

# Printing data set rows (1 point)
How do you print the last **five** rows of the data frame `mtcars`?

**Tip:** this is easiest done with a function. Remember that this function has a default value for the number of rows it prints.

In [38]:
tail(mtcars,5)  # the default for the 2nd argument is 6

               mpg  cyl disp  hp  drat wt    qsec vs am gear carb
Lotus Europa   30.4 4    95.1 113 3.77 1.513 16.9 1  1  5    2
Ford Pantera L 15.8 8   351.0 264 4.22 3.170 14.5 0  1  5    4
Ferrari Dino   19.7 6   145.0 175 3.62 2.770 15.5 0  1  5    6
Maserati Bora  15.0 8   301.0 335 3.54 3.570 14.6 0  1  5    8
Volvo 142E     21.4 4   121.0 109 4.11 2.780 18.6 1  1  4    2

# Working with datasets (3 points)
`MASS` is a package with statistical datasets. Don't assume that `MASS` is already installed on your computer. 

What do you need to do to use the dataset `Boston` from `MASS` in your current R session?

1. Give the commands (one per line)
2. Describe what each command does on the same line as the command (as a comment after the command)

**Tip:** The answer has three lines.

In [39]:
install.packages("MASS") # install MASS package - must have apostrophes
library(MASS) # load MASS package into current session (only now Boston can be used)
data(Boston) # load dataset Boston from MASS package into current session

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Note: the full name of the dataset `Boston` is `MASS::Boston`. Do you know how to see that?

# Change display width (1 point)
How can you change the number of columns displayed on the screen to `100` characters?

**Tip:** This option's default is `80` characters.

In [43]:
options(width=100) # this function and argument had been used in a weekly quiz before

Note: in this notebook, you will not see the difference. In the interactive console, you would. To demonstrate the difference, run `head(Nile,20)` before and after the `options(width=100)` command.

# Logarithm base (2 points)
One of the built-in R functions is the logarithm. 

1. What is the base of the logarithm function `log10()` in R?
2. How can you print this base value on the screen using `log10()` and e-notation?

In [47]:
## log10() has the base 10 - as the function name itself trivially shows!
log10(1e+10) # the argument in e-notation is the same as 10,000,000,000

[1] 10

# Testing for equality (2 points)
Compare two `numeric` vectors `x` and `y`:
```
x <- c(1,2,3)
y <- c(1,2,4)
```
1. What is the result of `x==y`?
2. Store 'x==y' in an object `foo`. What is `mode(foo)`?

In [48]:
x <- c(1,2,3) # define x
y <- c(1,2,4) # define y
x==y # compare x and y element-wise: this is a logical operation
foo <- x==y # everything in R is an object and can be stored
mode(foo) # mode checks the data type of the object foo

[1]  TRUE  TRUE FALSE

[1] "logical"

# Built-in datasets (1 point)
Which command gives you a list of all pre-installed and pre-loaded data sets on your computer?

In [51]:
data()

The complete set is printed with the command 
```
data(package = .packages(all.available = TRUE))
```

# Accuracy (1 point)
Explain why the following expression is `FALSE`:
```
identical(sqrt(2)**2,2)
```

In [52]:
identical(sqrt(2)**2,2)

[1] FALSE

Answer: the square of the square root of 2 is different from 2 due to rounding errors, because irrational numbers (like `sqrt(2)`) are represented internally by finite numbers. In R, as in other math packages, this problem can be alleviated but not eliminated.

# Mode and data types (4 points)
The functions `storage.mode()` and `mode()` determine the storage type and the mode (or data type) of an R object, respectively.

1. What is `storage.mode(1)`?

In [53]:
storage.mode(1) # 1 is a number - all numbers are stored as double precision numbers

[1] "double"

2. What is `mode(1)`?

In [54]:
mode(1) # the data type or mode of numbers is always "numeric"

[1] "numeric"

3. What is `storage.mode(c("Fall break"))`?

In [55]:
storage.mode(c("Fall break")) # the argument is a 1-element character vector

[1] "character"

4. What is `mode(c("Fall break"))`?

In [56]:
mode(c("Fall break")) # characters are always stored as characters

[1] "character"

# Checking data structures (3 points)
`x`, `A`, `df` are R objects:

* `x` is a vector
* `A` is a matrix
* `df` is a data frame

Write three function commands to check if it is true that `x` is a vector, `A` is a matrix, and `df` is a data frame.

In [60]:
x <- vector() # this function defines an empty logical vector
length(x) # shows that the vector is empty

[1] 0

In [61]:
is.vector(x)  # tests if x is actually a vector structure

[1] TRUE

In [64]:
A <- matrix() # defines a 1x1 matrix that contains NA
dim(A) # dimension of the matrix

[1] 1 1

In [65]:
is.matrix(A) # tests if A is actually a matrix structure

[1] TRUE

In [67]:
df <- data.frame() # defines an empty data frame
str(df) # structure of the data frame

'data.frame':	0 obs. of  0 variables

In [68]:
is.data.frame(df) # tests if df is actually a data frame structure

[1] TRUE

Note: the answer made the points with six different functions, not just with three.

# Named vectors (5 points)

# Binary operators (1 point)

# Special numbers (6 points)

# Bonus: Plot and histogram (2 points)

# Bonus: Citing software (2 points)

# Bonus: Quitting R (2 points)

# Bonus: Generic functions (2 points)

# Bonus: Structure of a dataset (2 points)